
.seccionVisible {
    background-image: url(../img/fondo.jpg);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.general {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 75%;
}

.general1 {
    background-color: blue;
}

.general2 {
    background-color: green;

}

.general3 {
    background-color: red;
}