body{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionVisible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.general {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2c2c2c, red);
}

.general1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 97.6%;
    height: 95%;
    padding: 1em;
    background: linear-gradient(180deg, #2c2c2c, red);
}

.general2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 97.6%;
    height: 95%;
    padding: 1em;
    background: linear-gradient(180deg, #2c2c2c, red);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    padding: 1em;
    background: linear-gradient(180deg, #2c2c2c, red);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #2c2c2c, red);
    width: 80vw;
    height: 50vh;
}

.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2c2c2c, red);
    width: 80vw;
    height: 50vh;
}

.pj{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}
.pj:hover {
	opacity: 50%;
	text-decoration: none;
}

.meliodas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 130px;
}

.pj1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}
.pj1:hover {
	opacity: 50%;
	text-decoration: none;
}

.elizabeth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 130px;
}

.pj2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}
.pj2:hover {
	opacity: 50%;
	text-decoration: none;
}

.escanor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 110px;
    height: 130px;
}

.pj3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}
.pj3:hover {
	opacity: 50%;
	text-decoration: none;
}

.merlin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 130px;
}

.botonera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #2c2c2c, red);
}


.botonera button{
    background: linear-gradient(180deg, #2c2c2c, red);
    font-size: 2em;
}