body{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    padding: 1em;
    background-color: rgb(84, 79, 88);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 80vw;
    height: 50vh;
}

.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80vw;
    height: 50vh;
}

.pj{
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

.p1{
    background-image: url(../img/meliodas.png);
    max-width: 15em;
    max-height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botonera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(181, 205, 92);
}


.botonera button{
    background-color: indianred;
    font-size: 2em;
}